@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  src: local("Ubuntu"), url(fonts/Ubuntu-R.ttf) format("ttf");
}

.centered {
  text-align: center;
}

.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.masteryOverview {
  text-align: center;
  align-self: center;
  align-content: center;
  flex-wrap: wrap;
}

.masteryButton {
  border: none;
  background-color: transparent;
  cursor: pointer;

  max-width: 10%;
  max-height: 10%;
  min-width: min-content;
  min-height: min-content;
}

.submitButton {
  border: none;
  background-color: transparent;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  display: block;

  max-width: 100px;
  max-height: 10%;
  min-width: 60px;
  min-height: 60px;
}

.masteryPanel {
  max-width: 100%;
  min-width: 450px;
  min-height: 263.25px;
}

.masteryImage {
  filter: grayscale();
  max-width: 100%;
  max-height: 100%;
  min-width: 90px;
  min-height: 90px;
}

.disabled {
  display: none;
  text-align: center;
  max-width: inherit;
  float: left;
  position: relative;
}

.panels {
  width: 65%;
  max-height: 100%;
}

.masteryTable {
  width: 100%;
}

.infos {
  vertical-align: top;
}

.plusButton {
  bottom: 3%;
  left: 2.4%;
  position: absolute;
  width: 9%;
  height: 13%;
  min-width: 37px;
  min-height: 18px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.skillButton {
  position: absolute;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.skillButtonImage {
  width: 100%;
}

.plusButtonImage {
  width: 100%;
}

.masteryImagePanel {
  top: 6%;
  right: 3.35%;
  position: absolute;
  width: 18.7%;
  height: 32%;
}

.masteryTier {
  color: white;
  font-size: calc(5px + 1vw);
}

#masteryTier1 {
  position: absolute;
  bottom: 21.4%;
  left: 3.7%;
}

#masteryTier2 {
  position: absolute;
  bottom: 32.9%;
  left: 3.7%;
}

#masteryTier3 {
  position: absolute;
  bottom: 44.2%;
  left: 3.7%;
}

#masteryTier4 {
  position: absolute;
  bottom: 55.9%;
  left: 3.7%;
}

#masteryTier5 {
  position: absolute;
  bottom: 67%;
  left: 3.7%;
}

#masteryTier6 {
  position: absolute;
  bottom: 78.4%;
  left: 3.7%;
}

#masteryTier7 {
  position: absolute;
  bottom: 90%;
  left: 3.7%;
}