*.*
!.gitignore
!"**/player skills/**/*.*"
!**/player\ skills/**/*.*
!**/skills/**/*.*
#"**/skills/boss skills/**/*.*"
**/skills/boss*/**/*.*
#"**/skills/item skills/**/*.*"
**/skills/item*/**/*.*
#"**/skills/scroll skills/**/*.*"
**/skills/scroll*/**/*.*
#"**/skills/monster skills/**/*.*"
**/skills/monster*/**/*.*
#"**/skills/quest skills/**/*.*"
**/skills/quest*/**/*.*
#"**/skills/shrine skills/**/*.*"
**/skills/shrine*/**/*.*
#"**/skills/equipment skills/**/*.*"
**/skills/equipment*/**/*.*
#"**/skills/artifact skills/**/*.*"
**/skills/artifact*/**/*.*
!**/pc/**/*.*
!text/**/*.*
!links.txt