*.*
!.gitignore
!"**/player skills/**/*.*"
!**/player\ skills/**/*.*
!**/skills/**/*.*
"**/skills/boss\ skills/**/*.*"
**/skills/boss\ skills/**/*.*
"**/skills/item\ skills/**/*.*"
**/skills/item\ skills/**/*.*
"**/skills/scroll\ skills/**/*.*"
**/skills/scroll\ skills/**/*.*
"**/skills/quest\ skills/**/*.*"
**/skills/quest\ skills/**/*.*
!**/pc/**/*.*
!text/**/*.*
!links.txt