*.*
!.gitignore
!"**/player skills/**/*.*"
!**/player\ skills/**/*.*
!**/skills/**/*.*
"**/skills/boss skills/**/*.*"
**/skills/boss\ skills/**/*.*
"**/skills/item skills/**/*.*"
**/skills/item\ skills/**/*.*
"**/skills/scroll skills/**/*.*"
**/skills/scroll\ skills/**/*.*
"**/skills/monster skills/**/*.*"
**/skills/monster\ skills/**/*.*
"**/skills/quest skills/**/*.*"
**/skills/quest\ skills/**/*.*
"**/skills/shrine skills/**/*.*"
**/skills/shrine\ skills/**/*.*
!**/pc/**/*.*
!text/**/*.*
!links.txt